<!DOCTYPE html>
<html>
<head>
  <title>Mind the code</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="wrapper">
    <div id='container'>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
  <div class="footer">
  </div>
</body>
</html>